extends base

block main
	div.tableContainer
		div.table
			div.table__head
				ul.list
					li= "Tour"
					li= "Booked At"
					li= "Price"
					li= "Status"

			div.table__body
				ul.list
					li= "The Start Gazer"
					li= "2022-04-17"
					li= "2997"
					li= "Paid"
				ul.list
					li= "The Start Gazer"
					li= "2022-04-17"
					li= "2997"
					li= "Paid"