extends base

block main
	div.tableContainer
		div.table
			div.table__head
				ul.list
					li= "Tour"
					li= "Booked At"
					li= "Price"
					li= "Status"

			div.table__body
				if bookings.length===0
					h2(style={"text-align":"center"}) No Billing Info Available!

				each booking in bookings
					- const date = booking.date.toISOString().split("T")[0]
					ul.list
						li= booking.name
						li= date
						li= `${booking.price}`
						li= booking.paid ? "Paid" : "Unpaid"
				