extends base

block main
	main.main
		.tour-form
			h2.heading-secondary.ma-bt-lg= tour? "Update Tour" : "Create a New Tour"
			form.form
				.form__group
					label.form__label(for='name') Tour Name
					input#name.form__input(type='text', value= tour && tour.name, placeholder='Tour Name', required)
				.form__group
					label.form__label(for='coords') Starting Coordinates
					input#coords.form__input(type='text', value= tour && tour.startLocation.coordinates.toString(), placeholder='Lng,Lat', required)
				.form__group
					label.form__label(for='address') Starting Address
					input#address.form__input(type='text', value= tour && tour.startLocation.address, placeholder='Address', required)
				.form__group
					label.form__label(for='locInfo') Short Starting Address
					input#locInfo.form__input(type='text', value= tour && tour.startLocation.description, placeholder='Starting Location Short Address', required)
				
				if !tour
					.form__group
						label.form__label(for='location') Locations
						textarea.location.form__input#location(type='text', placeholder='Lng,Lat|address|description|day', required)
						textarea.location.form__input(type='text', placeholder='Lng,Lat|address|description|day', required)
						svg.add__icon.js__loc
							use(xlink:href='/img/icons.svg#icon-plus')

				if tour
					label.form__label(for='location') Locations
						each location, i in tour.locations
							textarea.location.form__input(id= i===0&&"location", type='text', placeholder='Lng,Lat|address|description|day', required)= value= tour && `${location.coordinates.toString()}|${location.address||"address"}|${location.description}|${location.day}`

				- const guideEmails = tour && tour.guides.map(guide=>guide.email).join("|")
				.form__group
					label.form__label(for='guides') Guides
					input#guides.form__input(type='text', value= tour && guideEmails, placeholder='guide1@mail.com|guide2@mail.com', required)
				.form__group
					label.form__label(for='duration') Tour Duration
					input#duration.form__input(type='number', value= tour && tour.duration, placeholder='Duration in Days', required)
				.form__group
					label.form__label(for='groupSize') Max Group Size
					input#groupSize.form__input(type='number', value= tour && tour.maxGroupSize, placeholder='Maximum Tourists', required)
				.form__group
					label.form__label(for='difficulty') Tour Difficulty
					input#difficulty.form__input(type='text', value= tour && tour.difficulty, placeholder='easy/medium/difficult', required)
				.form__group
					label.form__label(for='summary') Tour Summary
					textarea#summary.form__input(placeholder='Summary', required)= tour && tour.summary
				.form__group
					label.form__label(for='tourDesc') Tour Description
					input#tourDesc.form__input(type='text', value= tour && tour.description, placeholder='About Tour', required)
				
				if !tour
					.form__group
						label.form__label(for='stertDate1') Starting Dates
						input#stertDate1.form__input.stertDate(type='datetime-local', placeholder='Tour Starting Date', required)
						input#stertDate2.form__input.stertDate(type='datetime-local', placeholder='Tour Starting Date', required)
						svg.add__icon.js__date
							use(xlink:href='/img/icons.svg#icon-plus')

				if tour
					.form__group
						label.form__label(for='startDate') Starting Dates
						each startDate, i in tour.startDates
							- const date = new Date(startDate).toISOString().slice(0,-5)
							input.form__input.stertDate(id= i===0&&"startDate", value= date, type='datetime-local', placeholder='Tour Starting Date', required)

				.form__group
					label.form__label Cover Image
				.form__group.form__photo-upload
					input.photo.form__upload(type="file",accept="image/*",id="coverImage",name="photo")
					label.label-photo(for="coverImage")= tour ? tour.imageCover : "Choose New Photo"
				.form__group
					label.form__label Images
				.form__group.form__photo-upload
					input.photo.form__upload(type="file",accept="image/*",id="image1",name="photo")
					label.label-photo(for="image1")= tour ? tour.images[0] : "Choose New Photo"
				.form__group.form__photo-upload
					input.photo.form__upload(type="file",accept="image/*",id="image2",name="photo")
					label.label-photo(for="image2")= tour ? tour.images[1] : "Choose New Photo"
				.form__group.form__photo-upload
					input.photo.form__upload(type="file",accept="image/*",id="image3",name="photo")
					label.label-photo(for="image3")= tour ? tour.images[2] : "Choose New Photo"
				.form__group
					label.form__label(for='price') Price
					input#price.form__input(type='number', value= tour && tour.price, placeholder='Price', required)
				.form__group
					button.btn.btn--green Submit