extends base

block main
	main.main
		.btn-delete
			button.btn-small.btn--green#delete-selected Delete Selected
			a(href="/create-tour").btn-small.btn--green#create Create User
		.card-container
			each user in users
				.card(data-user-id=`${user.id}`)
					button.button X
					a(href=`/update-user/${user.id}`)
						svg.edit__icon
							use(xlink:href='img/icons.svg#icon-edit')
					input.checkbox(type="checkbox")
						
					.card__header
						.card__picture
							img.card__picture-img(src=`/img/users/${user.photo}`, alt=`Photo of ${user.name}`)
						h3.heading-quaternary
							span= user.name
							
					.card__footer
						p
							span.card__footer-value= user.email
							| 
							span.card__footer-text
						p.card__ratings
							span.card__footer-value= user.role
