//- Remark: Child overview inheriting parent base. i.e. the whole base except the block is copied here.
extends base

block main
	//- Note: Redefining mainblock of the base
	//- h1 This is the tour overview
	main.main
		.card-container
			if tours.length===0
				h2(style={"text-align":"center"})
				h2(style={"text-align":"center"}) No Booking Found

			each tour in tours
				.card
					.card__header
						.card__picture
							.card__picture-overlay &nbsp;
							img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
						h3.heading-tertirary
							span= tour.name

					.card__details
						h4.card__sub-heading= `${tour.difficulty} ${tour.duration}-day tour`
						p.card__text= tour.summary
						.card__data
							svg.card__icon
								use(xlink:href='/img/icons.svg#icon-map-pin')
							span= tour.startLocation.description
						.card__data
							svg.card__icon
								use(xlink:href='/img/icons.svg#icon-calendar')
							span= tour.startDates[0].toLocaleString("en-US",{month:"long",year:"numeric"})
						.card__data
							svg.card__icon
								use(xlink:href='/img/icons.svg#icon-flag')
							span= `${tour.locations.length} stops`
						.card__data
							svg.card__icon
								use(xlink:href='/img/icons.svg#icon-user')
							span= `${tour.maxGroupSize} people`

					.card__footer
						p
							span.card__footer-value= `$${tour.price}`
							//- |<space> pipe is used to create a space manually between two inline elemnts.
							| 
							span.card__footer-text Per Person
						- const ratingsAverage = tour.ratingsAverage?.toFixed(1)||"—"
						p.card__ratings
							span.card__footer-value= ratingsAverage
							| 
							span.card__footer-text= `Rating (${tour.ratingsQuantity})`
						a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details
						//- URL starts with "/" is a relative URL!